<%-include('./partials/head') %>
        
        
<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogeado')  %> 
  <% }else {%>
    <%- include('./partials/Header')  %> 
  <% } %> 
            
            <!-- Novedades -->
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Editar producto</h2>
                    </div>
        
                             <form method="POST" action="/productos/editProduct/<%= productos.id_producto %>">
                                
                                
                                <label class="form-label">Nombre</label>
                                <input type="text" name="nombre" placeholder="Nombre del Producto" class="form-input">
                            
                                
                                <label class="form-label">Descripción</label>
                                <input type="text" name="descripcion" class="form-input">
                                
        
                                
                                <label class="form-label">Precio</label>
                                <input type="number" name="precio" class="form-input">
                                
        
                                
                                <label class="form-label">Imagén</label>
                                <input type="text" name="imagen" class="form-input">

                                <label class="form-label">Fecha</label>
                                <input type="date" name="fecha" class="form-input">
                            
                                
                                <button type="submit" class="form-input">Guardar cambios</button>
                            </form>
                    <!-- Show the "ultimos" products -->
                    <h2 class="col-12"> </h2>
        


<%-include('./partials/footer') %>