<%-include('./partials/head') %>        
        
<% if (locals.user != undefined) { %>
  <%- include('./partials/headerLogeado')  %> 
<% }else {%>
  <%- include('./partials/Header')  %> 
<% } %> 

<div class="banner">
    <img src="/imagenes/bannerr.png" alt="bannerDeDescuentos"/> 
</div>
        
	Novedades
    <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Novedades</h2>
          </div>
          <!-- Show the "ultimos" products -->
          <% for(let i = 0; i < 4; i++) { %>
          <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/productos/prodDetail/<%= productos[i].id_producto %>">
                <figure class="product-box_image">
                    <img src=<%= productos[i].imagen %> alt="productimage">
                </figure>
                <article class="product-box_data">
                    <h2><%= productos[i].nombre_producto%></h2>
                    <p> <%= productos[i].descripcion_producto%></p>
                </article>
              </a>
            </section>
          </div>
          <% } %>
        </div>
      </div>

      <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Mas comentados</h2>
          </div>
          <!-- Show the "ultimos" products -->
          <% for(let i = 2; i <10 ; i++) { %>
          <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/productos/prodDetail/<%= productos[i].id_producto %>">
                <figure class="product-box_image">
                    <img src=<%= productos[i].imagen %> alt="productimage">
                </figure>
                <article class="product-box_data">
                    <h2><%= productos[i].nombre_producto%></h2>
                    <p> <%= productos[i].descripcion_producto%></p>
                </article>
              </a>
            </section>
          </div>
          <% } %>
        </div>
      </div>



	
<%-include('./partials/footer') %>