<%-include('./partials/head') %>

<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogeado')  %> 
  <% }else {%>
    <%- include('./partials/Header')  %> 
  <% } %> 

    <!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre_producto %></h2> 
			<p class="product-detail-description">
				<a href="/productos/addproduct">Editar</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos.imagen_producto %>" alt="">
					<p class="product-detail-description">
						<%=productos.descripcion_producto%>
					</p>
				</article>
			</div>		
		</div>      
		<section class="addComm">
			<form class="form" action="" method="POST">
				<section class="form-input" id="">
				<article id="">
				<% if (locals.user != undefined) { %>
				<p class="user">
				<strong>
				<a href="/usuario/perfil/:id" ><%=user.nombre%></a>
				</strong>
				<a href="" class="comments"></a>
				</p>
				<input class="form-input" type="text" value="" placeholder="Agregar comentario">
				<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
				<% }else {%>
				<input class="form-input" type="text" value="" placeholder="Loguearse para comentar">
				<a href="/usuario/login" class="buy-now-button">AGREGAR COMENTARIO</button>	
				</article>	
				</section>
				<% } %>
			</form>
		</section>
	</div>
<%-include('./partials/footer') %>
					
						