<%-include('./partials/head') %>

<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogeado')  %> 
  <% }else {%>
    <%- include('./partials/Header')  %> 
  <% } %> 

    <!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre_producto %></h2> 
			<p class="product-detail-description">
 				<% if (locals.user != undefined && locals.user.id == productos.id_usuario) { %>
 					<%# if (locals.user.id == productos.id_usuario) { %>
				<a  href="/productos/editProduct/<%= productos.id_producto %>">Editar</a>

			</p>			

				<form class="boton-delete-product" action="/prodDetail/<%= productos.id_producto %>/delete" method="POST">
					<input type="hidden" name="id" id="" value="<%= productos.id_producto %> ">
					<button class="buy-now-button" id="deleteBtn" type="submit">Eliminar</button>
				</form>
					<% } %>
				<%# } %> 
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos.imagen_producto %>" alt="">
					<p class="product-detail-description">
						<%=productos.descripcion_producto%>
					</p>
					<p class="product-detail-price">
						$ <%=productos.precio%>
					</p>
				</article>
			</div>		
		</div>      
		

			<div class="col-12 col-lg-4">
				<section class="comments">
					<% for(let i = 1	; i <productos.comentarios.length; i++) { %>
					<article>
						
						<div class="data">
							<p class="user">
							<a href="/usuario/perfil/<%= productos.comentarios[i].id_usuario%>" ><img  <%=productos.comentarios[i].imagen_usuario%> alt=""></a>
							<p><%=productos.comentarios[i].comentario%></p>
					</article>
					<%	}%>
				</section>

					<section class="addComm">
						<form class="form" action="/productos/comentarios/<%= productos.id_producto %>"  method="POST">
							<input name= "nuevocomentario" class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
					</section>
			</div>
		</div>
	</div>
<%-include('./partials/footer') %>
					
						