<%-include('./partials/head') %>

<%-include('./partials/header') %>


    <!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre_producto %></h2> 
			<p class="product-detail-description">
				<a href="/productos/addproduct">Editar</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos.imagen %>" alt="">
					<p class="product-detail-description">
						<%= productos.descripcion_producto%>
					</p>
				</article>

						<div class="col-12 col-lg-4">
							<section class="comments">
								<% for (let i=0; i<comentarios.length; i++) {%>
									<article class="comm">
										<img src="<%= comentarios[i].comentimg %>" alt="productos.comentarios[i].usuario" />
										<div class="data">
											<p class="user">
											<strong> <a href="/usuario"><%= usuario.nombre%> </a> 
											</strong>
											<%= comentarios[i].comentario%>
											</p>
										</div>
									</article>
							<% }%>
							</section>
						</div>	
			</div>	
		</div>              
		<section class="addComm">
			<form class="form" action="" method="POST">
				<input class="form-input" type="text" value="" placeholder="Agregar comentario">
				<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
			</form>
		</section>
	</div>
<%-include('./partials/footer') %>
					
						