<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link width="" rel="shortcut icon" href="/imagenes/logo-mercado-liebre.svg" />
        
        <title> dassler</title>
                <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!-- Bootstrap Grid Stylesheet -->
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
        <!-- Own Stylesheet -->
        <link rel="stylesheet"  href="/stylesheets/app.css">
    </head>
    <body>
	


		<%-include('./partials/header') %>


    <!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre %></h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos.imagen %>" alt="">
					<p class="product-detail-description">
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
                        <% if (productos.comentarios.length == 0){%>
                                <p>no hay comentarios</p>
                        <% } else { %>
                            <% for (let i=0; i<productos.length; i++) {%>
						<article>
							<img src="<%= productos.comentario[i].comentimg %>" alt="" />
							<div class="data">
								<p class="user">
								<strong> <a href="/usuario">Usuario :<%= usuario[i].nombreDeUsuario%> </a> </strong>
                                <%= productos.comentarios[i].comentario%></p>
							</div>
						</article>
                        <% }%>
						<% }%>
	<section>
		<form class="form" action="" method="POST">
			<input class="form-input" type="text" value="" placeholder="Agregar comentario">
			<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
		</form>
	</section>

	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>

					
						